/* vim: set et sw=4 ts=4 sts=4 fdm=marker ff=unix fenc=utf8 nobomb: */
/**
 * VimWiki Custom Style
 *
 * @author mingcheng<i.feelinglucky#gmail.com>
 * @link   http://www.gracecode.com/
 */

body {
    /*
    font-family: Georgia,Times,sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0em 5em 0 5em;
    */
    line-height: 130%;
    margin: 0px;
    font-size: 16px;
    background: #f3f1e5;
	border-top: 5px solid #e6e5d9;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em; 
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.0em;
    color: #CC1C04;
    line-height: 1.5em;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    color: #CC1C04;
}
h3 {font-size: 1.1em; color: #CC1C04; text-indent: .5em;}
h4 {font-size: 1.0em; color: #CC1C04; text-indent: .7em;}
h5 {font-size: 1.0em; color: #CC1C04; text-indent: 1em;}
h6 {font-size: 1.0em; color: #CC1C04; text-indent: 1em;}

a:link, a:visited {
    text-decoration: underline;
    color: #CC1C04;
    /*
    border-bottom: 1px dotted #CC1C04;
    */
}

a:hover {
    /*
    text-decoration: none;
    */
}

a:visited {

}

a[href^="https://"], a[href^="http://"] {
    background: url(images/external.gif) no-repeat top right;
    padding-right: 16px;
}

p, pre, blockquote, table, ul, ol, dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin: 0.3em auto;
}

ul {
    margin-left: 2em; padding-left: 0.5em;
}

dt {
    font-weight: bold;
    margin: .5em 0;
}

dt {
    color: #CC1C04;
    text-indent: 1em;
}

p {
    text-indent: 1.5em;
}

img {
    border: none;
}

pre {
    font-family: "Courier New",Courier;
    font-size: 14px;
    border-left: 5px solid #ccc; 
    margin-left: 2em;
    padding-left: .5em;
    width: 100%;
}

blockquote {
    padding: 0.4em;
    background-color: #f6f5eb;
}

th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 33%; }
del {text-decoration: line-through; color: #777777;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}

.toc {
    float: right;
    border-left: 1px solid #eee;
    margin: 0 0 0 2em;
    padding: 0 1em;
}

.toc > ul {
    margin-left: 0;
}

.toc > ul > li {
    list-style: none;
}

#content {
    min-height: 415px;
}

#content, #footer {
    margin: 20px auto;
    width: 950px;
}

#footer  {
    border-top: 1px dashed #333;
    margin-top: 2em;
    text-align: right;
    padding: 1em 0;
    font-size: small;
}

#footer #back_index {
    float: left;
}

